@import "compass";
@import "../bower_components/susy/sass/susy"; // Including susy manually so we can use the Bower version
@import "CSS:../bower_components/normalize.css/normalize"; // Importing css file using sass-css-importer gem
@import "modules/_mixins";


/* COLORS
----------------------------------------------- */
$accentColor: 			#F6CF48;
$accentColorMuted: 		#695D36;
$accentTextColor: 		#625835;
$textColor: 			#8f8f8f;
$lightGray: 			#d4d4d4;


/* TYPOGRAPHY
----------------------------------------------- */
p {
	color: $textColor;
}

a {
	text-decoration: none;
}

h2 {
	text-align: center;
}

/* LAYOUT
----------------------------------------------- */
$susy: (
	columns: 16,
	gutters: 1/1.5,
	// debug: (
	// 	image: show-columns,
	// 	color: rgba(#000, .2),
	// 	output: overlay,
	// 	toggle: top right,
	// )
);

section {
	display: inline-block;
	width: 100%;
}

.container {
	@include container(64em); // 1024px
}

/* 
----------------------------------------------- */
.button {
	border: none;
	display: inline-block;	
	padding: 10px 20px;
	@include border-radius(2px);

	&.stroke {
		border: 1px solid;
	}
}

.button-container {
	display: inline-block;
	text-align: center;
	width: 100%;

	@extend %clearfix;
}


/* HERO
----------------------------------------------- */
.hero {
	background: $accentColor;
	@include px-to-rem(padding-bottom, 12);
	@include px-to-rem(padding-top, 9);

	.logo, p {
		text-align: center;
	}

	.inner {
		@include span(8 of 16);
		@include pre(4);
	}

	p {
		color: $accentTextColor;
		@include type-size(2.7, 4.5);
		@include px-to-rem(margin-bottom, 4.2);
	}

	.email {
		display: block;
		padding: 20px;
		width: 100%;
	}
}

.button.email {
	color: $accentColor;
	background: $accentTextColor;
}

/* INFO
----------------------------------------------- */
.info {
	h2 {
		@include px-to-rem(margin-bottom, 9);
		@include px-to-rem(margin-top, 9);
	}

	.col {
		float: left;
		width: span(5 of 16) + gutter();
	}

	.col-1 {
		margin-left: span(3 of 16);
		margin-right: gutter();
	}
}

.github {
	border-color: $lightGray;
	color: $lightGray;

	@include px-to-rem(margin-bottom, 6.3);
	@include px-to-rem(margin-top, 6.3);
	@extend %basic-animation;

	&:hover {
		border-color: $accentTextColor;
		color: $accentTextColor;
	}
}
