@import "compass";
@import "../bower_components/susy/sass/susy"; // Including susy manually so we can use the Bower version
@import "CSS:../bower_components/normalize.css/normalize"; // Importing css file using sass-css-importer gem
@import "modules/_mixins";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);


/* COLORS
----------------------------------------------- */
$accentColor: 				#F6CF48;
$accentColorMuted: 			#695D36;
$accentTextColor: 			#625835;
$textColor: 				#8f8f8f;
$textColorDark: 			#272727;
$lightGray: 				#d4d4d4;


/* TYPOGRAPHY
----------------------------------------------- */
body {
	font-family: 'Open Sans', sans-serif;
}

p {
	color: $textColor;

	@include type-size(1.4, 2.6);
}

a {
	text-decoration: none;
}

h2 {
	color: $textColorDark;
	font-weight: 600;
	text-align: center;

	@include type-size(2.2);
}

h3 {
	color: $textColorDark;
	font-weight: 600;
	letter-spacing: -0.03em;
	text-transform: uppercase;

	@include type-size(1.6);
}

/* LAYOUT
----------------------------------------------- */
$susy: (
	columns: 16,
	gutters: 1/1.5,
	debug: (
		image: show-columns,
		color: rgba(#000, .2),
		output: overlay,
		toggle: top right,
	)
);

section {
	display: inline-block;
	width: 100%;
}

.container {
	@include container(64em); // 1024px
}

/* 
----------------------------------------------- */
.button {
	border: none;
	display: inline-block;	
	padding: 10px 20px;
	@include border-radius(2px);

	&.stroke {
		border: 1px solid;
	}
}

.button-container {
	display: inline-block;
	text-align: center;
	width: 100%;

	@extend %clearfix;
}


/* HERO
----------------------------------------------- */
.hero {
	background: $accentColor;
	@include px-to-rem(padding-bottom, 12);
	@include px-to-rem(padding-top, 9);

	.logo, p {
		text-align: center;
	}

	.inner {
		@include span(8 of 16);
		@include pre(4);
	}

	p {
		color: $accentTextColor;
		@include type-size(2.5, 4.2);
		@include px-to-rem(margin-bottom, 4.2);
	}

	.email {
		display: block;
		padding: 20px;
		width: 100%;
	}
}

.button.email {
	color: $accentColor;
	background: $accentTextColor;
}

/* INFO
----------------------------------------------- */
.info {
	h2 {
		@include px-to-rem(margin-bottom, 6.9);
		@include px-to-rem(margin-top, 9);
	}

	.col {
		float: left;
		width: span(5 of 16) + gutter();
	}

	.col-1 {
		margin-left: span(3 of 16) - gutter();
		margin-right: gutter() + gutter() + gutter();
	}

	h3 {
		@include px-to-rem(margin-top, 4.8);
	}
}

.github {
	border-color: $lightGray;
	color: $lightGray;

	@include px-to-rem(margin-bottom, 6.3);
	@include px-to-rem(margin-top, 6.3);
	@extend %basic-animation;

	&:hover {
		border-color: $accentTextColor;
		color: $accentTextColor;
	}
}
